/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Estilos para la modal */
.modal {
  display: none; /* Oculta la modal por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h2 {
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  margin-bottom: 5px;
}

.modal-content form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content form button {
  background-color: #4070f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.modal-content form button:hover {
  background-color: #0e4bf1;
}

/* Estilos para el perfil */

/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Estilos del body */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

/* Estilos para la tarjeta de perfil */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  max-width:85%;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 90px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: auto;
  margin-left: auto;
}

/* Estilos para el calendario */
.calendar {
  position: absolute; /* Establece la posición absoluta para el elemento */
  top: 100px; /* Alinea el elemento en la parte superior del contenedor padre */
  right: 50px; /* Alinea el elemento en el lado derecho del contenedor padre */
  width: calc(40% - 100px); /* Establece el ancho del elemento. Puedes ajustar el valor según tus necesidades */
  height: 100%; /* Hace que el elemento tenga la misma altura que el contenedor padre */
  margin: 0; /* Elimina cualquier margen */
  padding: 40px;
  border-radius: 25px 25px 25px 25px;
  background-color: #4070f4;
  height: 35%;
  color: #fff;
}

/* Pseudo-elemento ::before para la tarjeta de perfil */
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 8%;
  width: 100%;
  border-radius: 25px 25px 0 0;
  background-color: #4070f4;
}

/* Estilos para la imagen de perfil */
.image {
  right: -30px;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

/* Estilos para los datos de texto */
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.text-data .name {
  font-size: 22px;
  font-weight: 400;
}

.text-data .job {
  font-size: 20px;
  font-weight: 200;
}

/* Estilos para la información personal */
.personal-info {
  margin-top: 20px;
}

/* Estilos para los botones */
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons .button {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 25px;
  margin: 100 10px;
  margin-right: 20px;
  padding: 5px 20px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.buttons .button:hover {
  background-color: #0e4bf1;
}

/* Estilos para las estadísticas */
.profile-card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}

.data i {
  font-size: 18px;
  margin-right: 6px;
}

.data:last-child {
  border-right: none;
}

/* Estilos variables */
:root {
  /* Colores */
  --body-color: #E4E9F7;
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  /* Transiciones */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
}

/* Estilos adicionales para el body */
body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* Selección de texto */
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

/* Modo oscuro para el body */
body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* Estilos para la barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 100;
}

/* Estilos para la barra lateral cerrada */
.sidebar.close {
  width: 88px;
}

/* Estilos para los elementos de la lista en la barra lateral */
.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Estilos para la cabecera de la barra lateral */
.sidebar header .imagelogo,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

/* Estilos para los iconos en la barra lateral */
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

/* Estilos para el texto en la barra lateral */
.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

/* Estilos para la cabecera de la barra lateral */
.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .imagelogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .imagelogo img {
  width: 50px;
  border-radius: 6px;
}

/* Estilos para el botón de alternar modo en la barra lateral */
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

/* Estilos para el modo oscuro en la barra lateral */
body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

/* Estilos para el menú en la barra lateral */
.sidebar .menu {
  margin-top: 40px;
}

/* Estilos para la caja de búsqueda en la barra lateral */
.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

/* Estilos para los enlaces en la barra lateral */
.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
  color: var(--text-color);
}

/* Estilos para la barra de menú en la barra lateral */
.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

/* Estilos para el modo claro/oscuro en la barra lateral */
.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

/* Estilos para la página principal */
.home {
  position: flex;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: var(--body-color);
  transition: var(--tran-05);
}

/* Estilos para el texto en la página principal */
.home .text {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 12px 60px;
}

/* Ajustes cuando la barra lateral está cerrada */
.sidebar.close ~ .home {
  left: 78px;
  height: 100vh;
  width: calc(100% - 78px);
}

/* Estilos para el modo oscuro en el texto de la página principal */
body.dark .home .text {
  color: var(--text-color);
}
